<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="form-group">
    <p class="form-floating">
      <%= form.text_field :title, class: 'form-control', placeholder: "Title" %>
      <%= form.label :title %>
    </p>

    <p class="form-floating">
      <%= form.text_field :description, class: 'form-control', placeholder: "Description" %>
      <%= form.label :description %>
    </p>

    <p class="form-floating">
      <%= form.text_field :image_location, class: 'form-control', placeholder: "Image location" %>
      <%= form.label :image_location %>
    </p>

    <p class="form-floating">
      <%= form.text_field :rule_name, class: 'form-control', placeholder: "Rule name" %>
      <%= form.label :rule_name %>
    </p>

<!--    TODO: Сделать так, чтобы доступные варианты были селектом-->
    <ul class="list-group list-group-flush mb-5">
      >>> TMP
      <li class="list-group-item">category_all_by_title</li>
      <li class="list-group-item">category_count</li>
      <li class="list-group-item">test_count</li>
      <li class="list-group-item">test_first_success</li>
      <li class="list-group-item">test_all_by_level</li>
      <li class="list-group-item">test_first_try</li>
      <li class="list-group-item">tests_count_by_category</li>
      >>>
    </ul>

    <p class="form-floating">
      <%= form.text_field :rule_value, class: 'form-control', placeholder: "Rule Value" %>
      <%= form.label :rule_value %>
    </p>

    <p class="form-check">
      <%= form.check_box :multiple, class: 'form-check-input' %>
      <%= form.label :multiple, class: 'form-check-label' %>
    </p>

    <p class="text-center">
      <%= form.submit class: 'btn btn-warning' %>
    </p>
  </div>
<% end %>
