<div class="col-12">
  <div class="card text-center">
    <h2 class="card-header"><%= t('.header') %></h2>

    <div class="card-body">
      <% if current_user.badges.present? %>
        <div class="container">
          <div class="row row-cols-2 row-cols-md-4">
            <%= render @badges %>
          </div>
        </div>

      <% else %>
        <div class="card-text"><%= t('.no_badges') %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-12 mt-5">
  <div class="card text-center">
    <h2 class="card-header"><%= t('.header-2') %></h2>

    <div class="card-body">
      <% if Badge.all.present? %>
        <div class="container">
          <div class="row row-cols-2 row-cols-md-4">
            <%= render @all_badges %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
