<div class="col col-md-8">
  <div class="card">
    <div class="card-header text-center">
      <h2><%= t('.header', title: @test_passage.test.title) %></h2>
    </div>
    <div class="card-body m-3 p-1">
      <div class="card-title mb-3"><b><%= @test_passage.current_question.body %></b></div>

      <%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |form| %>
          <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
            <div class="form-check">
              <p>
                <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
                <%= b.label class: 'form-check-label' %>
              </p>
            </div>
          <% end %>

          <div class="text-center">
            <p><%= form.submit t('.next'), class: 'btn btn-primary' %></p>
          </div>
      <% end %>

      <p class="text-center mb-0"><%= t('.question_counter', current: current_question_number(@test_passage), total: @test_passage.test.questions.count) %></p>
      <p class="text-end mb-0"><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
    </div>
  </div>
</div>
