<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= link_to image_tag('logo.png', width: 50, height: 50), root_path, class: 'navbar-brand'%>



    <% if current_user&.admin? %>
      <%= link_to t('.header'), admin_tests_path, class: 'nav-link me-5' %>
      <%= link_to t('.badges_management'), admin_badges_path, class: 'nav-link me-5' %>
      <%= link_to 'Gists', admin_gists_path, class: 'nav-link me-5' %>
    <% end %>

    <% if current_user %>
      <%= link_to t('.badges'), badges_path, class: 'nav-link me-auto' %>
    <% end %>

    <div class="navbar-text">
      <% if user_signed_in? %>
        <%= t('.welcome') %>, <b><%= current_user.first_name %></b> |
          <%= link_to t('.settings'), edit_user_registration_path %> |
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path %> |
          <%= link_to t('.login'), new_user_session_path %>
      <% end %>
    </div>
  </div>
</nav>
