<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <div class="form-group">
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body, rows: 5, class: 'w-100 form-control', style: 'resize: none' %>
    </p>

    <p class="form-check">
      <%= form.check_box :correct, class: 'form-check-input' %>
      <%= form.label :correct, class: 'form-check-label' %>
    </p>

    <p class="text-center mt-3"><%= form.submit class: 'btn btn-warning' %></p>
  </div>
<% end %>
