<h2><%= t('.header') %></h2>

<p><%= @answer.question.body %></p>

<p>
  <b><%= t('.answer') %></b> <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct') %></b> <%= @answer.correct %>
</p>

<%= link_to t('.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('.delete'), admin_answer_path(@answer), method: :delete, data: { confirm: t('.confirm') } %> |
<%= link_to t('.back'), admin_question_path(@answer.question) %>
