<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="form-group">
    <p class="form-floating">
      <%= form.text_field :title, class: 'form-control', placeholder: "Title" %>
      <%= form.label :title %>
    </p>

    <p class="form-floating">
      <%= form.text_field :level, class: 'form-control', placeholder: "Level" %>
      <%= form.label :level %>
    </p>

    <p>
      <%= form.label :category_id %>:
      <%= form.collection_select :category_id, Category.all, :id, :title, {prompt: true}, {class: "form-select"} %>
    </p>

    <p class="text-center">
      <%= form.submit class: 'btn btn-warning' %>
    </p>
  </div>
<% end %>
