<h2><%= @test.title %></h2>
<p><%= t('.level', level: test_level(@test) ) %></p>
<p><%= t('.category', category: @test.category.title ) %></p>
<p><%= t('.author', first_name: @test.author.first_name, last_name: @test.author.last_name) %></p>

<p><%= link_to t('.edit'), edit_admin_test_path(@test) %></p>

<h2><%= t('.questions') %></h2>
<% if @test.questions.present? %>
  <table>
    <tr>
      <th><%= t('.body') %></th>
      <th colspan="2"><%= t('.actions') %></th>
    </tr>

    <%= render @test.questions %>
  </table>
<% else %>
  <p><%= t('.no_questions') %></p>
<% end %>
<p><%= link_to t('.new_question'), new_admin_test_question_path(@test) %></p>
<p><%= link_to t('.back'), admin_tests_path %></p>
