<h2><%= t('.header') %></h2>

<% if Test.all.present? %>
  <table>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.actions') %></th>
    </tr>

    <%= render @tests %>
<% else %>
  <p><%= t('.no_tests') %></p>
<% end %>
</table>
