<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data_turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data_turbolinks_track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/nav' %>
    <%= flashes %>

    <%= yield %>
  </body>
</html>
